{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Conecta-TE</h1>
    <p class="lead">Conecta-TE es el Centro de Innovaci&oacute;n en Tecnolog&iacute;a y Educaci&oacute;n de la Universidad de los Andes..</p>
    <p><a href="http://conectate.uniandes.edu.co/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Servicios</h2>
        <p>
            El Centro de Innovaci&oacute;n en Tecnolog&iacute;a y Educaci&oacute;n Conecta-TE,
            dinamiza, propicia y apoya iniciativas y procesos de innovaci&oacute;n
            pedag&oacute;gica y tecnol&oacute;gica de profesores y unidades acad&eacute;micas
            de la Universidad de los Andes, mediante diferentes estrategias,
            integradas en dos l&iacute;neas de acci&oacute;n: el acompa&ntilde;amiento y los
            semilleros de innovaci&oacute;n.
        </p>
        <p><a class="btn btn-default" href="http://conectate.uniandes.edu.co/index.php/servicios-conectate">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Boletines</h2>
        <p>Bolet&iacute;n sobre innovaciones educativas apoyadas con tecnolog&iacute;a.
        </p>
        <p>Ent&eacute;rese peri&oacute;dicamente sobre innovaci&oacute;n educativa en Uniandes;
            sus protagonistas, eventos, convocatorias y logros de Conecta-TE..
        </p>
        <p><a class="btn btn-default" href="http://conectate.uniandes.edu.co/index.php/boletines">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sobre Conecta-TE</h2>
        <p>Conecta-TE busca apoyar a profesores y estudiantes en procesos de innovaci&oacute;nn
            pedag&oacute;ngica que aprovechan el potencial de las Tecnolog&iacute;as de Informaci&oacute;nn
            y Comunicaci&oacute;n  TIC.</p>
        <p><a class="btn btn-default" href="http://conectate.uniandes.edu.co/index.php/conecta-te/sobre-conecta-te">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
