﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Grupo Inception</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'content/site.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'content/thumbnail-gallery.css' %}"/>

    {# jQuery #}
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    {# Bootstrap #}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Conecta-TE</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'main_page' %}">Inicio</a></li>
                <li><a href="{% url 'ova_search' %}">Buscar OVAs</a></li>
                <li><a href="{% url 'ova_upload' %}">Cargar</a></li>
            </ul>
            {% include 'app/loginpartial.html' %}
        </div>
    </div>
</div>

<div class="container body-content">
    {% block content %}{% endblock %}
    <hr/>
    <footer>
        <p>&copy; {{ year }} - Universidad de los Andes - Grupo Inception</p>
    </footer>
</div>

<script src="{% static 'scripts/respond.js' %}"></script>

{% block scripts %}{% endblock %}

</body>
</html>
