{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Hola {{ user.first_name }}!</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a></li>
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
</ul>

{% endif %}
