{% extends "app/layout.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">OVAs en Conecta-TE</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-md-8"></div>
                <div class="col-xs-6 col-md-4">
                    <form action="/search/" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="keyword" type="text" class="form-control" placeholder="Ingrese una palabra clave" required>
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-default" value="Buscar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% render_table ovas %}
    </div>
{% endblock %}
