{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        {{ message }}
        {% if error == False %}
        <section id="ovaUploadForm">
            <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ lom_form|crispy }}
                <input type="submit" value="Upload"/>
            </form>
            {{save_status}}
        </section>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block scripts %}
    {% load staticfiles %}
{% endblock %}
<