{% extends "app/layout.html" %}

{% block content %}

    <h2 style="text-align: center">{{ title }}</h2>
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-4"></div>
        <div class="col-xs-6 col-md-4">
            <form action="/ova_search/" method="post">
                {% csrf_token %}
                <div class="input-group">
                    {% if keyword %}
                        <input name="keyword" type="text" class="form-control" placeholder="Ingrese una palabra clave" value="{{ keyword }}" required>
                    {% else %}
                        <input name="keyword" type="text" class="form-control" placeholder="Ingrese una palabra clave" required>
                    {% endif %}

                    <span class="input-group-btn">
                            <input type="submit" class="btn btn-default" value="Buscar">
                        </span>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <section id="seachResults">
                {% if c %}
                    <div>Mostrando {{ c }} resultado(s) de la busqueda</div>
                    <br>
                    <table style="width:100%">
                        <th>
                        <td><strong>ID</strong></td>
                        <td><strong>Título</strong></td>
                        <td><strong>Descripcion</strong></td>
                        <td><strong>P. Clave</strong></td>
                        <td><strong>Fecha</strong></td>
                        </th>
                        {% for dato in metadata %}
                            <tr>
                                <td></td>
                                <td>{{ dato.id }}</td>
                                <td>{{ dato.title }}</td>
                                <td>{{ dato.description }}</td>
                                <td>{{ dato.keyword }}</td>
                                <td>{{ dato.date }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% elif year %}
                    <div>La busqueda no ha arrojado resultados</div>
                    <br>
                {% endif %}
            </section>
        </div>
    </div>

{% endblock %}